<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>E-Learn Platform</title>
    <link rel="icon" href="/static/img/dragon.ico" type="image/ico" sizes="16x16">
    <script src="https://kit.fontawesome.com/ba8127bac3.js" crossorigin="anonymous"></script>
</head>


<body>

    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/img/dragon.ico" alt="" width="35" height="34">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-center m-auto">

                </ul>
                <form action="/logout" method="POST">
                    <button class="addbtn my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>

        </div>
    </nav>
    <div id="price" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1>Welcome {{user.name}}</h1>
        <p>Start From where you Left </p>
    </div>

    <div class="coursecontainer container marketing">
        <div class="row">
            <div class=" teamcard col-lg-4 ">
                <img src="/static/img/c1.jpg " alt="image ">
                <h2>Web Development</h2>
                <p class="p ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget hendrerit justo, at dignissim mauris. Donec tempus lobortis blandit. Etiam pellentesque arcu felis, quis finibus sapien sollicitudin vel. Phasellus sodales eros
                    nec mi consequat, non tincidunt dolor suscipit. Sed gravida, augue eget gravida tincidunt, quam purus malesuada.</p>
                <a href="/watch "><button type="button " class="addbtn ">Start </button></a>
            </div>
            <div class="teamcard col-lg-4 ">
                <img src="../static/img/c2.png " alt=" image ">
                <h2>IOS Development</h2>
                <p class="p ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget hendrerit justo, at dignissim mauris. Donec tempus lobortis blandit. Etiam pellentesque arcu felis, quis finibus sapien sollicitudin vel. Phasellus sodales eros
                    nec mi consequat, non tincidunt dolor suscipit. Sed gravida, augue eget gravida tincidunt, quam purus malesuada. </p>
                <a href="/watch "><button type="button " class="addbtn ">Start </button></a>
            </div>
            <div class="teamcard col-lg-4 ">
                <img src="../static/img/c3.png " alt="image ">

                <h2>Cloud Computing</h2>
                <p class="p ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget hendrerit justo, at dignissim mauris. Donec tempus lobortis blandit. Etiam pellentesque arcu felis, quis finibus sapien sollicitudin vel. Phasellus sodales eros
                    nec mi consequat, non tincidunt dolor suscipit. Sed gravida, augue eget gravida tincidunt, quam purus malesuada. </p>
                <a href="/watch "><button type="button " class="addbtn ">Start </button></a>
            </div>
        </div>
    </div>
    <div id="price" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h5>Made with 💖</h5>
        <ul class="social">
            <li><a href="https://github.com/sachin320"><i class="fab fa-github"></i></a></li>
            <li><a href="https://instagram.com/0xsachin"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://linkedin.com/in/0xsachin"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footercontainer ">
        <div class="footer ">
            <ul>
                <li> <img src="../static/img/dragon.ico " alt="logo " height="60px " width="60px ">
                </li>
                <li>
                    <h2 style="color: aliceblue; ">E-Learn</h2>
                </li>
            </ul>
        </div>
        <div class="footer ">
            <ul>
                <li>
                    <p style="color: white; ">Copyright &#169 E-Learn. All Right Reserved</p>
                </li>
            </ul>
        </div>
        <div class="footer ">
            <ul class="social ">
                <li><a href="# "><i class="fab fa-github "></i></a></li>
                <li><a href="# "><i class="fab fa-linkedin "></i></a></li>
                <li><a href="# "><i class="fab fa-youtube "></i></a></li>
                <li><a href="# "><i class="fab fa-twitter "></i></a></li>

            </ul>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4 " crossorigin="anonymous "></script>


</html>